@font-face {
    font-family: Amatic-Bold;
    src: url('../fonts/amatic/AmaticSC-Bold.ttf');
  }



.navbar{
    opacity:0.95;
}

.logo {
    font: 36px/38px 'Amatic-Bold', 'Arial Narrow', arial;
    text-shadow: 2px 2px 5px rgba(78, 76, 76, 0.7);
}

body {
    background-color: rgba(var(--b3f,250,250,250),1);
}

.img {
    width: 100%;
    height: 293px;
    object-fit: cover;
}

.fa-2x {
    font-size: 1.5em !important;
}

.container {
    max-width: 1024px;
}

.btn-custom {
    color: rgb(0, 0, 0);
    /* background-color: #0495c9; */
    /* border-color: #357ebd; set the color you want here */
}

.btn-custom:hover,
.btn-custom:focus,
.btn-custom:active,
.btn-custom.active,
.open > .dropdown-toggle.btn-custom {
    color: rgb(223, 69, 69);
    /* background-color: #00b3db; */
    /* border-color: #285e8e; set the color you want here */
}

textarea {
    resize: none;
}

.btn:focus {
    box-shadow: none;
}

.border-linear {
    background-color: white;
    padding: 5px;
    border: 2px solid;
    border: 2px solid #e4524e;
    border-radius: 50%;
}

/* Double Click Like effect */
.js-post {
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

.js-post i {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: red;
    z-index: 99;
    font-size: 40px;
    opacity: 0;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    transition: opacity 1s;
}

.js-post i.fade {
    opacity: 1;
}